//TODO: figure out how to make this dynamic (for dynamic theme-chaning on-site)
// color scheme

$accent: #FFFFFF;
$accent2: #bababa;
$outline: rgba(255, 255, 255, .2);
$background: #010101;
$text: #bababa;
$title: #FFFFFF;

